body {
  height: 100%;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color:#93AD18;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin:auto;
  background-color:#93AD18;
  padding: 20px 0;
}
.container2 {
  display: flex;
  flex-wrap: wrap; /* pour passer a la ligne automatiquement  sur petit ecran */
  margin-bottom: 2rem;
}
form {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 2.5px;
  font-size: 0.9rem;
  font-weight: 900;
}
.input {
  background-color: #f2f7dc;
  font-weight: 900;
  padding-left: 0.25rem;
  width: 90%;
  border-radius: 5px;
  border: 2px solid white;
}

.identity, 
.address {
  border: 2px solid white;
  border-radius: 10px;
  padding: 1rem 1rem;
  min-width: 300px;
  margin: 10px;
  padding: 5px 5px 15px 5px;
}

.identity {
  margin-right: 1rem;
}

.department {
  margin-left: 1rem;
  padding-bottom: 2rem;
  max-height: 15rem;
}

.identity, 
.address {
  min-height: 16rem;
}

.link {
  text-decoration: none;
  border: 2px solid white;
  border-radius: 8px;
  padding: 0.25rem 1rem;
  color: #93AD18;
  background-color: white;
}
.link:hover {
  color: #8ba11a;
  background-color: #f6ffc8;
  border: 2px solid #8ba11a; 
}
.goback {
  margin : 10px;
  display: inline-block;
  width: 70px;
}

button {
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  background-color: white;
  border-radius: 10px;
  color: #93AD18;
  border: 2px solid white;
  margin-top: 0.1rem;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 0rem 1rem;
  border-radius: 8px;
}

button:hover {
  color: #8ba11a;
  background-color: #f6ffc8;
  border: 2px solid #8ba11a; 
}

.logo{
  position: absolute;
  left :0px;
  top : 0px;
  padding: 5px;
  border-radius: 50px;
  width: 80px;
}

@media only screen and (min-width: 1780px) {
    .logo {
        width: 180px;
      }
}